
<!DOCTYPE html>
<html>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/Controller.js"></script>
<script src="js/app/Service.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />

<head>
<meta charset="ISO-8859-1">
<title>Main Page</title>
</head>
<body>
<div ng-app="app" ng-controller="RouteController">


	<div class="row"
		style="width: 70%; margin-right: auto; margin-left: auto;">
		<form name=AddRouteForm" class="form-horizontal" ng-submit="addRouteFunction()" >
			<!-- ng-submit="ctrl.submit()"  -->
			<div class="col-sm-3" >
				<div class="form-group">
					<label for="sel1">Source:</label> 
					<select class="form-control" id="sel1"
						ng-model="route.SourceSelected" required>
						<option value="" selected disabled>--Select Source--</option>
						<option ng-repeat="option in sourceQueues" value="{{option}}">{{option}}</option> 
					</select>
				</div>
			</div>
			<div class="col-sm-3" >
				<div class="form-group">
					<label for="sel1">Routing Number:</label>
					<input type="number" class="form-control" ng-model="route.RouteVal"  placeholder="Routing No" required/>
				</div>
			</div>
			<div class="col-sm-3" >
				<div class="form-group">
					<label for="sel1">Destination:</label> <select
						class="form-control" id="sel3" ng-model="route.destinSelected" required>
						<option value="" selected disabled>--Select Destination--</option>
						<option ng-repeat="option2 in destinationQueues" value="{{option2}}">{{option2}}</option>
					</select>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="sel1"></label><br>
					<button type="submit" class="btn" style="margin-left:10px;" ng-disabled="AddRouteForm.$invalid" >ADD</button>
				</div>
			</div>
		</form>
	</div>

	</br>
	<div class="container" ng-controller="getController">
		<h4>Routing Entries</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Source</th>
					<th>Routing Number</th>
					<th>Destination</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>SPT</td>
					<td>12345678</td>
					<td>DEV1</td>
					<td><button type="button" class="btn">Delete</button></td>
				</tr>
				<tr>
					<td>TCH</td>
					<td>12345679</td>
					<td>DEV2</td>
					<td><button type="button" class="btn">Delete</button></td>
				</tr>
				<tr>
					<td>Other</td>
					<td>12345680</td>
					<td>UAT1</td>
					<td><button type="button" class="btn">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<div ng-controller="addController">
			<h1>Hello {{name +'How Are you?'}}</h1>
		</div>
	</div>



</body>


</html>